.containter{
	position: relative;
	top: 100px;
	height: 600px;
	border: 1px solid black;
	width: 500px;
  	margin: 0 auto;
  	border-radius: 20px;
}


.display{
	border: 1px solid black;
	padding: 10px;
	margin: 20px 35px 20px 35px;

	height: 150px;
	border-radius: 20px;
}

#result{
	position: relative;
  	font-size: 50px;
  	font-weight: bold;
  	padding-top: 100px;
  	float: right;
  	bottom: 70px;
  	max-width: 400px;
}

.button_top{
	position: relative;
	left: 35px;
	top: 50px;
	display: grid;
	grid-template-rows: 60px 60px ;
	grid-template-columns: 70px 70px 70px 160px;
	grid-gap: 20px;
}

.button_bottom{
	position: relative;
	top: 70px;
	display: grid;
	grid-template-rows: 60px 60px ;
	grid-template-columns: 70px 70px 70px 70px 70px;
	grid-gap: 20px;
	left: 35px;

}

button{
	font-size: 25px;
	font-weight: bold;
}